<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-3367927715135195~9005680295</string>
	<key>SKAdNetworkItems</key>
	<array>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>cstr6suwn9.skadnetwork</string>
		</dict>
	</array>
	<key>NSUserTrackingUsageDescription</key>
	<string>Our app uses your device&apos;s advertising identifier to improve your advertising experience. We use it for frequency capping, aggregated ad reporting, and to combat fraud and abuse. This data is not used to track you across apps and websites owned by other companies. Your privacy is important to us, and you can change your preference at any time in the app settings.</string>
</dict>
</plist>
